/*
 * ------------------------------------------------------
 *  Based on the nf-core/rnaseq Nextflow base config file
 * ------------------------------------------------------
 */

// Include parameters from configuration file
includeConfig 'conf/params.config'
// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

try {
  includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
  System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}


profiles {
  standard {
    process.executor = 'local'
    executor.queueSize = Runtime.runtime.availableProcessors() == 1 ? 1 : Runtime.runtime.availableProcessors() - 1
    executor.submitRateLimit = '4sec'
  }
  verysmall {
    includeConfig 'conf/verysmall.config'
    process.executor = 'local'
    executor.queueSize = Runtime.runtime.availableProcessors() == 1 ? 1 : Runtime.runtime.availableProcessors() - 1
    executor.submitRateLimit = '4sec'
  }
  local {
    process.executor = 'local'
    executor.queueSize = Runtime.runtime.availableProcessors() == 1 ? 1 : Runtime.runtime.availableProcessors() - 1
    executor.submitRateLimit = '4sec'
  }
  eddie {
    includeConfig 'conf/eddie.config'
    singularity.enabled = true
    singularity.autoMounts = true 
  }   
  eddie_conda {
    includeConfig 'conf/eddie_conda.config'
    process.conda = "$baseDir/environment.yml" 
    conda.createTimeout = '8 h'
    conda.useMamba = params.mamba ? true : false
  }
  conda {
    params.enable_conda    = true
    docker.enabled         = false
    singularity.enabled    = false
    podman.enabled         = false
    shifter.enabled        = false
    charliecloud.enabled   = false
    conda.createTimeout = '8 h'
    includeConfig 'conf/conda.config'
    conda.useMamba = params.mamba ? true : false
  }
  docker {
    docker.enabled         = true
    docker.userEmulation   = true
    singularity.enabled    = false
    podman.enabled         = false
    shifter.enabled        = false
    charliecloud.enabled   = false
  }
  singularity {
    singularity.enabled    = true
    singularity.autoMounts = true
    docker.enabled         = false
    podman.enabled         = false
    shifter.enabled        = false
    charliecloud.enabled   = false
  }
  podman {
    podman.enabled         = true
    docker.enabled         = false
    singularity.enabled    = false
    shifter.enabled        = false
    charliecloud.enabled   = false
  }
  shifter {
    shifter.enabled        = true
    docker.enabled         = false
    singularity.enabled    = false
    podman.enabled         = false
    charliecloud.enabled   = false
  }
  charliecloud {
    charliecloud.enabled   = true
    docker.enabled         = false
    singularity.enabled    = false
    podman.enabled         = false
    shifter.enabled        = false
  }
  uge {
    process.executor = 'sge'
  }   
  sge {
    process.executor = 'sge'
  }
  slurm {
    process.executor = 'slurm'
  }
  test {
    includeConfig 'conf/test.config'
  }
  custom_profile {
    includeConfig "${params.my_config}"
  }
}

// import igenome configuration
if (!params.igenomes_ignore) {
  includeConfig 'conf/igenomes.config'
}


// Add reporting configuration
timeline {
  enabled = true
  file = "${params.outdir}/reports/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/reports/execution_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/reports/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/reports/pipeline_dag.svg"
}

manifest {
  name            = 'evotools/nf-LO'
  author          = 'Andrea Talenti'
  homePage        = 'https://github.com/evotools/nf-LO'
  description     = 'Nextflow lift over pipeline.'
  mainScript      = 'main.nf'
  nextflowVersion = '>=21.10.0'
  defaultBranch   = 'main'
  version         = '1.7.0'
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if (type == 'memory') {
    try {
      if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'time') {
    try {
      if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'cpus') {
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
