/*
 * ------------------------------------------------------
 *  Based on the nf-core/rnaseq Nextflow base config file
 * ------------------------------------------------------
 */

// Include parameters from configuration file
includeConfig 'conf/params.config'

profiles {
  standard {
    includeConfig 'conf/base.config'
    process.executor = 'local'
    process.container = 'tale88/nf-lo:latest'
    docker.enabled = true
    docker.runOptions = '-u \$(id -u):\$(id -g)'
  }
  local {
    includeConfig 'conf/base.config'
    process.executor = 'local'
  }
  conda { 
    process.conda = "$baseDir/environment.yml" 
    conda.createTimeout = '1 h'
  }
  docker { 
    process.container = 'tale88/nf-lo:latest'
    docker.enabled = true 
    docker.runOptions = '-u \$(id -u):\$(id -g)'
  }
  singularity { 
    process.container = 'docker://tale88/nf-lo:latest'
    singularity.enabled = true
    singularity.autoMounts = true 
  }
  podman {
    process.container = 'docker://tale88/nf-lo:latest'
    podman.enabled = true
  }
  uge {
    includeConfig 'conf/eddie.config'
    process.cpus { 1 * task.attempt }
    process.memory { 8.GB * task.attempt }
    process.time { 6.hour * task.attempt }
  }   
  eddie {
    includeConfig 'conf/eddie.config'
    process.container = 'tale88/nf-lo:latest'
    singularity.enabled = true
    singularity.autoMounts = true 
  }
  eddie_conda {
    includeConfig 'conf/eddie_conda.config'
    process.conda = "$baseDir/environment.yml" 
    conda.createTimeout = '1 h'
  }
  sge {
    process.executor = 'sge'
    process.cpus { 1 * task.attempt }
    process.memory { 8.GB * task.attempt }
    process.time { 6.hour * task.attempt }
  }
  slurm {
    process.executor = 'slurm'
  }
  test {
    includeConfig 'conf/test.config'
  }
}
manifest {
  name            = 'RenzoTale88/nf-LO'
  author          = 'Andrea Talenti'
  homePage        = 'https://github.com/RenzoTale88/nf-LO'
  description     = 'Nextflow LiftOver pipeline.'
  mainScript      = 'main.nf'
  nextflowVersion = '>=20.07.1'
  version         = '1.4.2'
}