
process {   
    cpus = 1   
    memory = '2G'   
    errorStrategy = { task.attempt <= 2 ? "retry" : "ignore" }   
    maxRetries = 2 
    // Base configuration for the processes 
    withLabel: small{
      cpus = 1
      memory = { 4.GB * task.attempt }
      time = {6.h * task.attempt }
    }
    withLabel: medium{
      cpus = 1
      memory = { 8.GB * task.attempt }
      time = { 12.h * task.attempt }
    }
    withLabel: large{
      cpus = 1
      memory = { 12.GB * task.attempt }
      time = { 23.h * task.attempt }
    }
    withLabel: small_multi{
      cpus = { 2 * task.attempt }
      memory = { 8.GB * task.attempt }
      time = { 4.h * task.attempt }
    }
    withLabel: gsalign{
      cpus = Runtime.runtime.availableProcessors()
      memory = { 8.GB * task.attempt }
      time = { 4.h * task.attempt }
    }
}
