process {
  conda = "$projectDir/assets/environment.yml" 
  withName: make_report {
    conda = "$projectDir/assets/r-environment.yml" 
  }
  withName: mafstats {
    conda = "$projectDir/assets/maf-environment.yml" 
  }
  withName: maf2mfa {
    conda = "$projectDir/assets/maf-environment.yml" 
  }
}
