/*
 * ------------------------------------------------------
 *  Based on the nf-core/rnaseq Nextflow base config file
 * ------------------------------------------------------
 */
 //Profile config names for nf-core/configs
params {
  // iGenomes reference base
  saveReference = true
  igenomes_base = '/exports/igmm/eddie/BioinformaticsResources/igenomes'
  config_profile_description = 'University of Edinburgh (eddie) cluster profile using anaconda tweaked by nf-core/configs.'
  config_profile_contact = 'Andrea Talenti (@RenzoTale88)'
  config_profile_url = 'https://www.ed.ac.uk/information-services/research-support/research-computing/ecdf/high-performance-computing'// Add parameter to specify extra flags for eddie
  extra_cluster_options = ""
  enable_conda = false
  cache_dir = null
  max_memory = 2048.GB
  max_cpus = 64
  max_time = 240.h
  scratch = false
  queue_size = 100
  project = "uoe_baseline"
}
 
executor {
  name = "sge"
  queueSize = "${params.queue_size}"
}
 
process {
  clusterOptions = { task.memory ? "-l h_vmem=${task.memory.bytes/task.cpus} -R y -P ${params.project} ${params.extra_cluster_options}" : "-R y -P ${params.project ?: ''} ${params.extra_cluster_options}" }
  scratch = params.scratch
  penv = { task.cpus > 1 ? "sharedmem" : null }

  // common SGE error statuses
  errorStrategy = {task.exitStatus in [143,137,104,134,139,140] ? 'retry' : 'finish'}
  maxErrors = '-1'
  maxRetries = 3
 
  beforeScript =
  """
  . /etc/profile.d/modules.sh
  module load singularity
  export SINGULARITY_TMPDIR="\$TMPDIR"
  """
}

env {
  MALLOC_ARENA_MAX=1
}

singularity {
  envWhitelist = "SINGULARITY_TMPDIR,TMPDIR"
  runOptions = '-p -B "$TMPDIR"'
  enabled = true
  autoMounts = true
}