/*
 * ------------------------------------------------------
 *  Custom eddie (anaconda) config file
 * ------------------------------------------------------
 */

// New parameters specific to customize eddie behaviour
params {
  config_profile_description = 'University of Edinburgh (eddie) cluster profile using anaconda tweaked by nf-core/configs.'
  config_profile_contact     = 'Andrea Talenti (@RenzoTale88)'
  config_profile_url         = 'https://www.ed.ac.uk/information-services/research-support/research-computing/ecdf/high-performance-computing'// Add parameter to specify extra flags for eddie
  extra_cluster_options      = ""
  enable_conda               = false
  singularity_cache_dir      = null
  max_memory                 = 2048.GB
  max_cpus                   = 64
  max_time                   = 240.h
  scratch                    = false
  queue_size                 = 100
  project                    = "uoe_baseline"
}

executor {
  name                       = "sge"
  queueSize                  = params.queue_size
}
 
process {
  stageInMode                = 'symlink'
  scratch                    = 'false'
  penv                       = { task.cpus > 1 ? "sharedmem" : null }

  // This will override all jobs clusterOptions
  // This is necessary to allow jobs to run on Eddie for many users
  // For each job, we add an extra 8 Gb of memory.
  // For example, the process asked 16 Gb of RAM (task.memory). The job will reserve 24 Gb of RAM.
  // The process will still use 16 Gb (task.memory) leaving 8 Gb for other system processes.
  // This is very useful any JAVA programs which allocate task.memory RAM for its Virtual Machine
  // Also it leaves enough memory for singularity to unpack images.
  // common SGE error statuses
  errorStrategy              = {task.exitStatus in [143,137,104,134,139,140] ? 'retry' : 'finish'}
  maxErrors                  = '-1'
  maxRetries                 = 3

  clusterOptions           = { 
    def tot_memory = task.memory.toMega() + 8192
    def memory_per_core = tot_memory / task.cpus
    "-l h_vmem=${memory_per_core}M -R y -P ${params.project} ${params.extra_cluster_options}"
  }
  beforeScript             =
    """
    . /etc/profile.d/modules.sh
    module load anaconda
    export CUDA_VISIBLE_DEVICES=-1
    """
}

env {
  MALLOC_ARENA_MAX=1
}
