params {
    source = 'genome1.fa'
    target = 'genome2.fa'
    distance = 'medium'
    aligner = 'lastz'
    tgtSize = 30000000
    srcSize = 10000000
    srcOvlp=100000
    outdir = "${baseDir}/OUTPUTS" 
    annotation = false
    annotation_format = false
    custom = false
    chainCustom = false
    liftover_algorithm = 'liftover'
    maf_tgt_name = 'tgt'
    help = false
    publish_dir_mode = 'copy'
}
