params {
    source = false
    target = false
    ncbi_source = false
    ncbi_target = false
    igenome_source = false
    igenome_target = false
    distance = 'medium'
    aligner = 'lastz'
    srcSize = 20000000
    tgtSize = 10000000
    tgtOvlp=100000
    outdir = "${baseDir}/OUTPUTS" 
    annotation = false
    annotation_format = false
    custom = false
    chainCustom = false
    chain_name = 'liftover'
    liftover_algorithm = 'liftover'
    maf_tgt_name = 'tgt'
    igenomes_base = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore = false  
    no_maf = false
    netsynt = true
    help = false
    publish_dir_mode = 'copy'
}
