params {
    source = false
    target = false
    ncbi_source = false
    ncbi_target = false
    igenomes_source = false
    igenomes_target = false
    distance = 'medium'
    aligner = 'lastz'
    srcSize = 20000000
    tgtSize = 10000000
    tgtOvlp=100000
    srcOvlp=0
    qscores=false
    outdir = "${launchDir}/OUTPUTS" 
    annotation = false
    annotation_format = false
    custom = false
    chainCustom = false
    chain_name = 'liftover'
    liftover_algorithm = 'liftover'
    maf_tgt_name = 'tgt'
    igenomes_base = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore = false  
    no_maf = false
    no_netsynt = false
    mafTools = false
    max_memory = (Runtime.runtime.maxMemory() as nextflow.util.MemoryUnit).toGiga().GB
    max_cpus = Runtime.runtime.availableProcessors() == 1 ? 1 : Runtime.runtime.availableProcessors() - 1
    max_time = '240.h'
    help = false
    mamba = false
    publish_dir_mode = 'copy'
    extra_cluster_options = ''
    custom_config_version = 'master'
    custom_config_base = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    my_config = false
}
