
params {  
    // Limit resources so that this can run CI
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 48.h
  
    // Input data
    source = '$baseDir/data//GCF_001549955.1_ASM154995v1_genomic.fna.gz'
    target = '$baseDir/data/GCF_011751205.1_ASM1175120v1_genomic.fna.gz'
    annotation = "$baseDir/data/GCF_001549955.1_ASM154995v1_genomic.gff.gz"
    annotation_format = 'gff'

    // Alignment parameters
    distance = 'medium'
    aligner = 'lastz'
    tgtSize = 2000000
    srcSize = 1000000
    srcOvlp=100000
    custom = false
    chainCustom = false
  
    // Other parameters    
    outdir = "${PWD}/outputs" 
    help = false
    publish_dir_mode = 'copy'
  }