
params {  
    // Limit resources so that this can run CI
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 48.h
  
    // Input data
    //source = 'https://raw.githubusercontent.com/RenzoTale88/nf-LO/master/data/GCF_001549955.1_ASM154995v1_genomic.fna'
    source = 'https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/001/549/955/GCF_001549955.1_ASM154995v1/GCF_001549955.1_ASM154995v1_genomic.fna.gz'
    //target = 'https://raw.githubusercontent.com/RenzoTale88/nf-LO/master/data/GCF_011751205.1_ASM1175120v1_genomic.fna'
    target = 'https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/011/751/205/GCF_011751205.1_ASM1175120v1/GCF_011751205.1_ASM1175120v1_genomic.fna.gz'
    //annotation = false
    annotation = 'https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/001/549/955/GCF_001549955.1_ASM154995v1/GCF_001549955.1_ASM154995v1_genomic.gff.gz'
    annotation_format = 'gff'

    // Alignment parameters
    distance = 'medium'
    aligner = 'lastz'
    tgtSize = 2000000
    srcSize = 1000000
    srcOvlp=100000
    custom = false
    customChain = false
  
    // Other parameters    
    outdir = "${baseDir}/outputs" 
    help = false
    publish_dir_mode = 'copy'
  }