
params {  
    // Limit resources so that this can run CI
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 48.h
  
    // Input data
    source = 'https://ftp.ebi.ac.uk/pub/ensemblorganisms/GCA/000/005/845/2/community/2018_09/genome/unmasked.fa.bgz'
    target = 'https://ftp.ebi.ac.uk/pub/ensemblorganisms/GCA/001/286/085/1/prokka/2026_04/genome/unmasked.fa.bgz'
    annotation = 'https://ftp.ebi.ac.uk/pub/ensemblorganisms/GCA/000/005/845/2/community/2018_09/geneset/genes.gff3.bgz'
    annotation_format = 'gff'

    // Alignment parameters
    distance = 'medium'
    aligner = 'lastz'
    tgtSize = 2000000
    tgtOvlp=100000
    srcSize = 1000000
    srcOvlp=0
    custom = false
    chainCustom = false
    reciprocal_best = false
    
    // Other parameters    
    outdir = "./outputs" 
    help = false
    publish_dir_mode = 'copy'
  }