/*
 * ------------------------------------------------------
 *  Based on the nf-core/rnaseq Nextflow base config file
 * ------------------------------------------------------
 */

executor{
  name = "uge"
	queueSize = 250
  cpu = 1
  memory = 8.G
  time = 23.h
}


singularity {
  enable=true
}

process {

  beforeScript = """
  . /etc/profile.d/modules.sh
  sleep 2;
  """
  module = 'singularity/3.5.3'
  penv = "sharedmem"

  cpus = 1
  memory = 4.GB
  time = 4.h
  clusterOptions = "-P roslin_ctlgh -l h_vmem=${memory.toString().replaceAll(/[\sB]/,'')}, -l h_rt=${time.toString()}"

  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'terminate' }
  maxRetries = 5
  maxErrors = '-1'

  // Process-specific resource requirements
  withLabel: low_memory {
    executor = "uge"
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  }
  withLabel: mid_memory {
    executor = "uge"
    cpus = { check_max (4, 'cpus')}
    memory = { check_max( 7.GB * task.attempt, 'memory' ) }
    time = { check_max( 8.h * task.attempt, 'time' ) }
  }
  withLabel: high_memory {
    executor = "uge"
    cpus = { check_max (10, 'cpus')}
    memory = { check_max( 7.GB * task.attempt, 'memory' ) }
    time = { check_max( 8.h * task.attempt, 'time' ) }
  }

  withName: pairs {
    executor = "local"
    cpus = 1
    memory = 1.GB
    time = 5.h
  }
  withName: xpclr {
    executor = "uge"
    cpus = 1
    time = 96.h
    memory = 8.GB
  }
  withName: combine {
    executor = "uge"
    cpus = 1
    memory = 4.GB
    time = 6.h
  }
}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 8.GB
  max_cpus = 1
  max_time = 23.h
}
