/*
 * ------------------------------------------------------
 *  Based on the nf-core/rnaseq Nextflow base config file
 * ------------------------------------------------------
 */

executor{
  name = "uge"
  queueSize = 500
  cpu = 1
  memory = 8.GB
  time = 23.h
}


singularity {
  enable=false
}

process {

  beforeScript = """
  . /etc/profile.d/modules.sh
  sleep 2;
  export PATH=$PATH:/exports/cmvm/eddie/eb/groups/prendergast_grp/Andrea/UCSC
  export PATH=$PATH:/exports/cmvm/eddie/eb/groups/prendergast_grp/Andrea/minimap2
  export PATH=$PATH:/exports/cmvm/eddie/eb/groups/prendergast_grp/Andrea/lastz-distrib-1.04.00/src
  """
  module = 'singularity/3.5.3'
  penv = "sharedmem"

  cpus = 1
  memory = 4.GB
  time = 4.h
  clusterOptions = "-P roslin_ctlgh -l h_vmem=${memory.toString().replaceAll(/[\sB]/,'')}"

  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'terminate' }
  maxRetries = 5
  maxErrors = '-1'

  withName: make2bit{
    cpus = 1
    memory = 2.GB
    time = 3.h
  }
  withName: splittgt{
    cpus = 1
    memory = 4.GB
    time = 2.h
  }
  withName: grouptgt{
    cpus = 1
    memory = 8.GB
    time = 2.h
  }
  withName: splitsrc{
    cpus = 1
    memory = 4.GB
    time = 2.h
  }
  withName: groupsrc{
    cpus = 1
    memory = 8.GB
    time = 2.h
  }
  withName: pairs {
    cpus = 1
    memory = 8.GB
    time = 4.h
  }
  withName: lastz {
    cpus = 1
    memory = { 4.GB * task.attempt }
    time = { 23.h * task.attempt }
  }
  withName: blat {
    cpus = 1
    memory = { 8.GB * task.attempt }
    time = { 23.h * task.attempt }
  }
  withName: minimap2 {
    cpus = 1
    memory = { 4.GB * task.attempt }
    time = { 23.h * task.attempt }
  }
  withName: axtchain {
    cpus = 1
    memory = 4.GB
    time = 6.h
  }
  withName: chainMerge {
    cpus = 1
    memory = 16.GB
    time = 6.h
  }
  withName: chainNet {
    cpus = 1
    memory = 16.GB
    time = 6.h
  }
  withName: liftover {
    cpus = 1
    memory = 8.GB
    time = 12.h
  }

}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 8.GB
  max_cpus = 1
  max_time = 23.h
}
