/*
 * ------------------------------------------------------
 *  Based on the nf-core/rnaseq Nextflow base config file
 * ------------------------------------------------------
 */

executor {
	name = 'local'
	queueSize = 4
	cpus = 4
	memory = '12 GB'
}


process {

  cpus = 1

  withName: make2bit{
    cpus=1
  }
  withName: splitTgt{
    cpus=1
  }
  withName: splitQry{
    cpus=1
  }
  withName: pairs {
    cpus = 1
  }
  withName: align {
    cpus = 1
  }
  withName: singleaxt{
    cpus=1
  }
  withName: axtchain {
    cpus = 1
  }
  withName: liftover {
    cpus = 1
  }
}

