/*
 * ------------------------------------------------------
 *  Based on the nf-core/rnaseq Nextflow base config file
 * ------------------------------------------------------
 */

executor {
	name = 'local'
	queueSize = 4
	cpus = 4
	memory = '12 GB'
}

singularity {
  enable = false
  image = tale88/nf-lo
  singularity.autoMounts = true
}

docker {
  enable = false
  image = tale88/nf-lo
  singularity.autoMounts = true
}


process {

  cpus = 1

  
  withName: make2bit{
    cpus = 1
  }
  withName: splittgt{
    cpus = 1
  }
  withName: grouptgt{
    cpus = 1
  }
  withName: splitsrc{
    cpus = 1
  }
  withName: groupsrc{
    cpus = 1
  }
  withName: pairs {
    cpus = 1
  }
  withName: lastz {
    cpus = 1
  }
  withName: blat {
    cpus = 1
  }
  withName: minimap2 {
    cpus = 1
  }
  withName: axtchain {
    cpus = 1
  }
  withName: chainMerge {
    cpus = 1
  }
  withName: chainNet {
    cpus = 1
  }
  withName: liftover {
    cpus = 1
  }
}

